body{
  background-color: #d9d9d9;
  font-family: 'Muli', sans-serif;
}

.jumbotron{
  text-align: center;
  background-color: #cc0066;
  background-image: url(../img/voilet_polygon.png);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  margin-bottom: 0px;
}

nav.customNav{

}
ul.customNavList{
  width:100%;
}

ul.customNavList li{
  display:inline-block;
  text-decoration:none;
}

li.customNavLink{
}

h1.header{
  font-family: 'Pinyon Script', cursive;
}

a.titleHeader{
  color: #ffffe6;
}

p.titleDescription{
  color: #000000;
}

ol.socialMedia li{
  display:inline-block;
}

a:hover{
  text-decoration:none;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.postContainer{
  padding:5px;
  width:100%;
}

.blog-post{
  background-color:#ffffff;
  opacity:.8;
}

.comments-area{
  background-color:#ffffff;
  opacity:.8;
  padding:2px;
}

.blog-footer{
  background-color:#000000;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  position: relative;
/*  margin-top: -150px; /* negative value of footer height */
/*  height: 150px; */
  width:100%;
  clear:both;
}

#credits{
  font-size: small;
}
