* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow: auto;
  padding-bottom: 200px; /* must be same height as the footer */
}

body{
  background-color: #d9d9d9;
  font-family: 'Muli', sans-serif;
}

.jumbotron{
  text-align: center;
  background-color: #cc0066;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  margin-bottom: 0px;
}

nav.customNav{
  top:0;
}

ul.customNavList{
  width:100%;
}

ul.customNavList li{
  display:inline-block;
  text-decoration:none;
  padding:5px;
}

.customNavListItem:hover{
  background-color:#72033b;
  -webkit-transition: background-color .5s; /* Safari */
  transition: background-color .5s;
}

ul.customNavList a{
  color:#ffffe6;
}

h1.header{
  font-family: 'Pinyon Script', cursive;
}

a.titleHeader{
  color: #ffffe6;
}

p.titleDescription{
  color: #000000;
}

.frontPageSection{
  margin:0px;
  width:100%;
  height:300px;
  padding-bottom:5px;
  border:1px solid;
  text-align:center;
  position:relative;
}

.frontPageHeaderContainer{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.frontPageSection:hover .frontPageHeaderContainer{
  opacity: .75;
}

.frontPagePost{
  position:relative;
  z-index: -1;
}

.frontPageHeader{
  font-family: 'Pinyon Script', cursive;
  vertical-align: middle;
  line-height: 300px;
  position:relative;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

ol.socialMedia li{
  display:inline-block;
}

.socialMediaItem{
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}

.socialMediaItem:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

a:hover{
  text-decoration:none;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.postContainer{
  padding:5px;
  width:100%;
}

.blog-post{
  background-color:#ffffff;
  opacity:.8;
}

.comments-area{
  background-color:#ffffff;
  opacity:.8;
  padding:2px;
}

.blog-footer{
  background-color:#000000;
  text-align: center;
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 200px;
  width:100%;
  clear:both;
  font-size:small;
}

.blog-footer a{
  color:#ffffe6;
}

.imageHolder{
  height:100%;
  width:100%;
}

.yanniPaulLogo{
  height:100px;
  width:inherit;
  clear:both;
}

#credits{
  font-size: small;
}

#credits:hover{
  font-weight:bold;
  -webkit-transition: font-weight .8s ease-in-out; /* Safari */
  transition: font-weight .8s ease-in-out;
}
